body {
  display: flex;
  justify-content: center;
  font-family: Noto Sans, sans-serif;
  position: relative;
  margin: 0;

  padding-bottom: 50px;
}



h1 {
  font-family: VolKhov, sans-serif;
  font-weight: 700;
  font-size: clamp(3.5rem, 5.3vw, 5rem);
  line-height: 79px;
  margin-top: 0;
  color: #181E4B;
  z-index: 10;
}

h2 {
  font-family: VolKhov, sans-serif;
  font-weight: 700;
  font-size: 50px;
  margin: 0;
  color: #181E4B;
  z-index: 10;
}

h3 {
  font-family: Poppins;
  color: #DF6951;
  font-weight: 700;
  font-size: 20px;
  margin-top: 0;
}

h4 {
  font-family: Poppins, sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #5E6282;
  margin-bottom: 10px;
}

h5 {
  margin: 0;
  font-family: Noto Sans, sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #1E1D4C;
}

h6 {
  font-family: Poppins, sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #5E6282;
  margin-bottom: 10px;
}

h7 {
  font-size: 16px;
  color: #5E6282;
  font-weight: 700;
}

h8 {
  font-family: Poppins, sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #080809;
}

.h814px {
  font-size: 14px;
}

.h8mgbot {
  margin-bottom: 10px;
}

.h2mgbot {
  margin-bottom: 80px;
}

.no-mg {
  margin: 0;
}

h9 {
  font-size: 33px;
  color: #5E6282;
  font-weight: 600;
  font-family: Poppins, sans-serif;
  line-height: 54px;
}

h10 {
  font-family: Poppins, sans-serif;
  font-size: 44px;
  font-weight: 500;
  color: #181E4B;
  margin-bottom: 20px;
}

h11 {
  font-size: 21px;
  color: #080809;
  font-family: Poppins, sans-serif;
  font-weight: 700;
  margin-bottom: 15px;
}

p {
  color: #5E6282;
  font-family: Poppins, sans-serif;
  font-weight: 500;
}

.pc8A79DF {
  color: #8A79DF;
}

.p14px {
  font-size: 14px;
  margin: 0;
}

.p13px {
  font-size: 13px;
  margin: 0;
}

.p2 {
  color: #5E6282;
  font-family: Poppins, sans-serif;
  margin: 0;
}

.one-for-all {
  display: flex;
  width: 80%;
  flex-direction: column;
  box-sizing: border-box;
}

#background {
  position: absolute;
  right: 0;
  top: 0;
  height: 83vh;
  z-index: -1;
}

  /* Header */
header{
  width: 100%;
}

nav {
  display: flex;
  align-items: center;
  font-family: Noto Sans, sans-serif;
  justify-content: space-between;
  width: 70%;
}

.nav-ani {
  position: relative;
}

.nav-ani::after {
  content: '';
  position: absolute;
  height: 1.5px;
  left: 0;
  bottom: 0;
  width: 0;
  background: black;
  transition: width 0.2s;
}

.nav-ani:hover::after {
  width: 100%;
}

.nav-ani2 {
  transition: 0.2s;
}

.nav-ani2:hover {
scale: 1.05;
}

.logo-container {
  width: 30%;
}

.logo-container img {
  width: 100px;
}

nav a {
  color: #212832;
  font-size: 17px;
  font-weight: 500;
  text-decoration: none;
  box-sizing: border-box;
}

.header-nav {
  display: flex;
  height: 50px;
  width: 100%;
  margin-top: 20px;
  align-items: center;
}

#sign-up {
  border: 1px solid black;
  border-radius: 4px;
  padding: 10px 20px 10px 20px;
}

#select-lang {
  background-color: transparent;
  border: none;
}


  /* Front Page */
.front-page {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 70px;
}

.front-page p {
  font-family: Poppins, sans-serif;
  margin: 0 0 50px 0;
  font-weight: 500;
  color: #5E6282;
  line-height: 25px;
}

.front-page-p-container {
  width: 80%;
}

.front-page-text {
  width: 50%;
  margin-top: 70px;
}


.front-page-image {
  width: 50%;
}

.front-page-image img {
  max-width: 100%;
  height: auto;
  margin-top: 20px;
}

.enjoy-underline {
position: relative;
}

#underline-enjoy {
  position: absolute;
  bottom: 15px;
  left: -40px;
  pointer-events: none;
  z-index: -1;
}

.fp-buttons-container {
  display: flex;
  align-items: center;
  height: 80px;
  width: 70%;
  justify-content: space-between;
}

.find-out-more {
  width: 170px;
  height: 60px;
  background-color: #F1A501;
  color: white;
  border: none;
  border-radius: 7px;
  font-size: 18px;
  font-weight: 500;
}

#play-demo {
  display: flex;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  border: none;
  margin-right: 20px;
  background-color: #DF6951;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
label[for="play-demo"] {
  display: flex;
  align-items: center;
  padding: 0;
  border-radius: 4px;
  padding: 2px 10px 2px 10px;
  cursor: pointer;
}
label[for="play-demo"] p {
  margin: 0;
}

  /* Category */
.category {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 150px;
}

.category-header {
  text-align: center;
  margin-bottom: 30px;
}

.category-items {
  display: flex;
  justify-content: space-between;
  width: 100%;
  text-align: center;
  margin-top: 50px;
}

.category-item-containers {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
}

.category-item-containers2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
  position: relative;
}

.item-image-containers {
  position: relative;
  width: 100%;
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.category-img-bg1 {
  width: 50px;
  height: 49px;
  border-radius: 7px 4px 15px 4px;
  background-color: #FFF1DA;
  position: absolute;
  bottom: 40px;
  right: 60px;
  z-index: -1;
}

.category-img-bg2 {
  width: 50px;
  height: 49px;
  border-radius: 4px 7px 4px 15px;
  background-color: #FFF1DA;
  position: absolute;
  top: 43px;
  left: 77px;
  z-index: -1;
}

.category-img-bg3 {
  width: 50px;
  height: 49px;
  border-radius: 4px 15px 4px 7px;
  background-color: #FFF1DA;
  position: absolute;
  top: 35px;
  right: 70px;
  z-index: -1;
}

.category-img-bg4 {
  width: 50px;
  height: 49px;
  border-radius: 4px 7px 4px 15px;
  background-color: #FFF1DA;
  position: absolute;
  bottom: 38px;
  right: 61px;
  z-index: -1;
}

.category-p-container {
  width: 80%;
}



.category2-background {
  position: absolute;
  box-shadow: 0 40px 20px rgba(0, 0, 0, 0.048);
  background-color: white;
  width: 267px;
  height: 314px;
  border-radius: 30px;
  top: -10px;
  border: none;
  z-index: -2;
}

.category2-background-background {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: #DF6951;
  bottom: -45px;
  left: -55px;
  border-radius: 25px 0 10px 0;
  z-index: -3;
}

#category-bg {
  position: absolute;
  right: 58px;
  margin-top: 20px;
}

  /* Top Destinations */
.destinations {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 150px;

}

.destinations-header {
  text-align: center;
  margin-bottom: 65px;
}

.destinations-items {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.destinations-item-container {
  position: relative;
}

.destinations-item-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 25px 20px 40px 20px;
  position: absolute;
  background-color: white;
  width: 100%;
  bottom: 0;
  box-sizing: border-box;
  border-radius: 0 0 25px 25px;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.089);
}

.destinations-text-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.destinations-text-header h6 {
  margin: 0;
}

.destinations-text-footer {
  display: flex;
  gap: 20px;
}

.destinations-text-footer p {
  margin: 0;
}

#destination-bg {
  position: absolute;
  right: 78px;
  margin-top: 160px;
}

  /* Next Trip */
.next-trip {
  display: flex;
  flex-direction: column;
  margin-bottom: 180px;
}

.next-trip-items {
  display: flex;
  width: 100%;
}

.trip-items-text {
  display: flex;
  flex-direction: column;
  width: 45%;
}

.trip-items-right {
  display: flex;
  width: 55%;
}

.item-text-containers {
  display: flex;
  width: 80%;
  gap: 20px;
}

.text-containers-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 30px;
}

.container-text-flex {
  display: flex;
  flex-direction: column;
}

.trip-items-right {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.right-item-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 80%;
  background-color: white;
  border-radius: 25px;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.089);
}

#next-trip-right-img {
  border-radius: 20px;
  margin-bottom: 16px;
}

.l2-text-container {
  display: flex;
  gap: 15px;
}

.l3-text-container {
  display: flex;
  gap: 10px;
}

.l3-item-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  border-radius: 20px;
  border: none;
  background-color: #F5F5F5;
}

.l4-left-half {
  display: flex;
  gap: 10px;
}

.l4-text-container {
  display: flex;
  justify-content: space-between;
}

.right-container-bg {
  position: absolute;
  background-color: #59b0e65e;
  filter: blur(40px);
  width: 350px;
  height: 350px;
  border-radius: 300px;
  z-index: -5;
  right: 250px;
  margin-top: 50px;
}

.right-item-popup {
  display: flex;
  position: absolute;
  border-radius: 12px;
  width: 220px;
  height: 100px;
  background-color: white;
  padding: 12px;
  right: 7px;
  top: 225px;
  gap: 15px;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.089);
}

#popup-image {
  border-radius: 25px;
}

.popup-text {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.load-bar-default {
  width: 100%;
  height: 5px;
  background-color: #F5F5F5;
  border-radius: 5px;
  box-sizing: border-box;
}

.load-bar-main {
  width: 40%;
  height: 5px;
  background-color: #8A79DF;
  border-radius: 5px;
}

  /* Testimonials */
.testimonials {
  display: flex;
  flex: 1;
  margin-bottom: 150px;
}

.testimonials-left {
  flex: 0.8;
}

.testimonials-right {
  display: flex;
  flex: 1.2;
  justify-content: center;
  align-items: center;
}



.bullet-testimonial-selectors{
  display: flex;
  gap: 20px;
}

.bullet-selector {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  background-color: #E5E5E5;
}

.bg39425D {
  background-color: #39425D;
}


.testimonial-container {
  display: flex;
  width: 70%;
  height: 270px;
  flex-direction: column;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.089);
  padding: 28px 68px 34px 34px;
  box-sizing: border-box;
  position: relative;
}

#testimonial-img {
  position: absolute;
  left: -34px;
  top: -25px;
}

.test-bg-container {
  position: absolute;
  width: 100%;
  background-color: transparent;
  border: 2px solid #F7F7F7;
  z-index: -1;
  box-shadow: none;
  right: -50px;
  bottom: -80px;
  padding-top: 60px;
}

#arrow-up {
  position: absolute;
  right: 100px;
  margin-top: 100px;
}

#arrow-down {
  position: absolute;
  margin-top: 150px;
  right: 100px;
}

  /* Sponsors */
.sponsors {
  display: flex;
  width: 100%;
  justify-content: space-between;
  box-sizing: border-box;
  align-items: center;
  margin-bottom: 100px;
}

.sponsors img {
  object-fit: contain;
}

.logo {
  filter: grayscale(100%);
  transition: 0.2s;
}

.sponsors-hover-bg {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-bg {
  width: 200px;
  height: 110px;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.089);
  opacity: 0;
  position: absolute;
  left: -50%;
  right: -50%;
  top: -50%;
  bottom: -50%;
  margin: auto;
  z-index: -1;
  transition: 0.2s;
  pointer-events: none;
}

label[for="logo"]:hover .logo-bg {
  opacity: 1;
}

.logo:hover {
  filter: none;
}

  /* Subscribe */
.subscribe {
  width: 100%;
  margin-bottom: 150px;
}

.subscribe-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  background-color: #DFD7F933;
  height: 407px;
  padding: 0 130px;
  box-sizing: border-box;
  border-radius: 150px 15px 15px 15px;
  position: relative;
}

.subscribe-input-submit {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 20px;
}

.subscribe-input-container {
  display: flex;
  width: 49%;
  height: 68px;
  background-color: white;
  gap: 20px;
  padding-left: 20px;
  box-sizing: border-box;
  border-radius: 10px;
}

.subscribe-input-container input:focus {
  outline: none;
}

.mail-icon-container {
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#email-input {
 width: 85%;
 border: none;
 color: #5E6282;
 font-family: Montserrat, sans-serif;
 font-size: 14px;
 font-weight: 400;
 border-radius: 10px;
}

#email-input::placeholder {
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-weight: 400;
}

#email-subscribe {
  width: 20%;
  height: 68px;
  background: linear-gradient(#FF946D, #FF7D68);
  border: none;
  border-radius: 10px;
  color: white;
  font-family: Open Sans, sans-serif;
  font-weight: 600;
  font-size: 17px;
}

#subscribe-bg-left {
  position: absolute;
  left: -60px;
  bottom: 0;
  z-index: -1;
}

#subscribe-bg-right {
  position: absolute;
  right: 0;
  top: 0;
}

#subscribe-send-bg {
  position: absolute;
  right: 120px;
  margin-top: -30px;
  z-index: 2;
}

#subscribe-bg {
  position: absolute;
  right: 40px;
  margin-top: 320px;
}

  /* footer */
footer {
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
}

.main-footer {
  display: flex;
  width: 100%;
  gap: 30px;
}

.footer-flex-1 {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.footer-flex-05 {
  display: flex;
  flex-direction: column;
  flex: 0.7;
  gap: 15px;
}

.bot-footer {
  width: 100%;
  text-align: center;
}

  /* Responsive for 1280px screens */
@media screen and (max-width: 1280px) {

  .item-text-containers {
    width: 90%;
  }

  .right-item-container {
    width: 60%;
  }

  .test-bg-container {
    padding-top: 40px;
  }
}